@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to David Nguyen Libraries</h1>
    <p>Choose one of the options in the menu above or below.</p>
    
    <img src="./images/logo.png" />
    <p>Option 1: <a href="./books/">View/Create/Edit books in library</a>.</p>
    <p>Option 2: <a href="./clients/">View/Create/Edit clients in library</a>.</p>
    <p>Option 3: <a href="./holds/">View/Create/Edit holds in library</a>.</p>

</div>
